body {
    background-color: #eee;
}

.body-main {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 5px;
    margin-right: 5px;
    justify-content: space-between;
}

.div-left {
    width: 70%;
    color: white;
    display: flex;
    flex-direction: column;
}

.div-right {
    width: 28%;
    color: white;
    display: flex;
    flex-direction: column;
    border-top-left-radius: 10px;
}

.card-left {
    background-color: white;
    color: black;
    border: 1px solid#eee;
    margin-bottom: 10px;
    border-top-left-radius:10px ;
}
.card-right{
    background-color: white;
    color: black;
    border: 1px solid#eee;
    margin-bottom: 10px;
    padding: 10px;
}
.card-header1 {
    position: relative;
}

.card-header1>p {
    position: absolute;
    bottom: 0px;
    left: 5%;
    font-family: 'Tahoma', Geneva, Verdana, sans-serif;
    font-size: larger;
    font-weight: bold;
}

ul>li , .card-work{
    list-style-type: none;
    color: #7f7f7f;
    margin-left:2.5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.card-work{
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}
.class-li{
    color: #7f7f7f;
    margin: 0px ;
    margin-left: 2.5%;
    width: 95%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.work{
    list-style-image: url('./portfolio.png');
}
.home{
    list-style-image: url('./home.png');
}
.email{
    list-style-image: url('./envelope.png');
}
.phone{
    list-style-image: url('./phone-call.png');
}
.skil,.word{
    list-style-image: url('./icons8-bahai-star-24.png');
    font-weight: bold;
    font-size: larger;
}
.word{
    list-style-image: url('./world.png');
}
.word-main,.word-eduction{
    list-style-image: url('./suitcase.png');
    font-size: 30px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 2px;
}
.word-eduction{
    list-style-image: url('./icons8-bahai-star-32.png');
}
hr{
    border: 1px thin;
    width: 95%;
}
meter {
    border: 1px solid #CCC;
    height: 40px;
    width: 95%;
}
meter::-webkit-meter-optimum-value {
    background: #ff0000;
}
meter::after {
    content : attr(value)'%';
    color: black;
    position:relative;
    top: -80%;
    left: 50%;
}
.center{
    text-align: center;
}
footer{
    background-color: #eb2027;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}
button{
    background-color: red;
    color: white;
    border: none;
}
